$small: 12px;
$medium: 18px;
$large: 64px;

.hero {
  background: linear-gradient(231deg, #7de1ef 15.49%, #d3f6fb 84.94%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 158px 160px 80px 93px;
}

.leftText {
  // text-wrap: wrap;
  word-wrap: break-word;
  width: 50%;
}
.p1 {
  font-size: $small;
  font-weight: 500;
}
.p2 {
  font-size: $large;
  font-weight: 800;
}
.p3 {
  font-size: $medium;
  font-weight: 400;
}
.btn {
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  width: 145px;
  height: 44px;
  cursor: pointer;
  margin-top: 20px;
  transition: width 2s, height 4s;
}

.btn:hover {
  width: 200px;
}

.rightDiv img {
  width: 390px;
  height: 390px;
  background-color: #fff;
  border-radius: 200px;
  border: 20px solid rgba(32, 98, 255, 0.4);
}
.tiles {
  width: 250px;
  height: 160px;
  border: 1px solid #ededed;
  display: flex;
  flex-direction: row;

  background: linear-gradient(234deg, #c0d4fe 16.99%, #ecf1fd 91.97%);

  box-shadow: 5px 13px 18px -5px rgba(128, 128, 128, 0.1);
}
.tiles p {
  text-align: center;
}

.trending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.trending p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttonSec {
  display: flex;
  flex-direction: row;

  align-items: center;
}
.explore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 158px 160px 80px 93px;
}
.logo-card {
  width: 182px;
  height: 182px;
  border-radius: 25px;
  border: 1px solid #ededed;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;

  box-shadow: 5px 13px 18px -5px rgba(128, 128, 128, 0.1);
}

.card-section {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-columns: auto auto auto;
}

.slides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.card-img {
  background-color: purple;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 10rem;
}
.slide-img {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.card-test {
  background-color: #fff;
  height: 400px;
  margin-top: 40px;
  border-radius: 40px;
  width: 350px;
  margin: 30px;
}
.testimonial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: palegreen;
}
.newCard {
  background-color: #b023db;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sell {
  padding: 158px 160px 80px 93px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sellimg {
  border-radius: 20px;
  // object-fit: cover;
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: powderblue;
}
.about-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.abImg {
  padding: 158px 160px 80px 93px;
}

.service-row {
  display: grid;
  grid-template-columns: auto auto auto;
}

.service-div {
  background-color: rgb(126, 87, 87);
  border: 1px solid red;
  border-radius: 40px;
  margin: 30px;
  max-height: 30rem;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.service-des {
  text-align: center;
  margin: 10px;
}
.secTitle {
  text-align: center;
  font-size: 30px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: green;
  padding: 158px 160px 80px 93px;
}

.contDiv {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  cursor: pointer;
}
.contDiv:hover {
  transform: scaleY(1.5);
}

@media only screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
    justify-content: center;
  }
  .leftText {
    word-wrap: initial;
    width: 100%;
    align-items: center;
  }

  .rightDiv img {
    width: 280px;
    height: 280px;

    border-radius: 200px;
    border: 15px solid rgba(32, 98, 255, 0.4);
    margin-top: 20px;
  }
  .explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sell {
    flex-direction: column;
    justify-content: center;
    padding: 50px 160px 80px 93px;
  }
  .sellimg {
    width: 250px;
    height: 300px;
  }

  .about-row {
    flex-direction: column;
  }
  .service-row {
    grid-template-columns: auto;
  }
  .contact {
    flex-direction: column;
  }
  .contDiv:hover {
    transform: none;
  }
  .btn:hover {
    width: 145px;
  }
}
